{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "svelteSortOrder": "options-scripts-markup-styles",
  "trailingComma": "es5",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
